@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Products</h2>

<div id="products"></div>

@section Scripts{
    <script src="~/Scripts/react/dist/Products.bundle.js"></script>
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">